= form_tag books_path, method: :get, :class => 'search-form' do
    = text_field_tag 'search', params[:search], placeholder: "Enter Title, Genre or Author"
    = submit_tag 'Search', class: "sb-btn"

- if User.current.admin?
    %p.new-entity= link_to 'New book', new_book_path

-if @books.present?
    - @books.each do |book|
        .books-block
            .book-info
                .book-img
                    %a{:href => "/books/<%= book.id %>"}
                    =image_tag book.book_img.url(:book_index)
            .book-description
                %p.author= "Author: #{book.author.name}"
                %p.title= "Title: #{book.title}"
                %p.genres= "Genres: #{book.genres.map {|genre| genre.name}.join(", ")}"
                %p.description= truncate("Description: #{book.description}", :length => 30)

            .bottom-book-menu
                %p= link_to "More", book
                - if User.current.admin?
                    %p= link_to "Edit", edit_book_path(book)
                    %p= link_to "Delete", book_path(book), data: { confirm: "Are you sure?" }, :method => :delete
-else 
    %p= "No results found for #{params[:search]}"
