%h1 Editing user

= simple_form_for(@user) do |f|
    -if User.current.admin?
        = f.input :name, label: false
    - else 
        = f.input :name, label: false, disabled: true, hint: 'You cannot change your username.'
    = f.input :email, placeholder: "E-mail", label: false, required: true
    -# = f.input :password, placeholder: "Password", label: false, required: true
    -# = f.input :password_confirmation, placeholder: "Password confirmation", label: false, required: true
    = f.button :submit

%hr
= link_to 'Change password', lost_password_path

%hr
= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Your account will be destroyed, this action cannot be undone. Proceed?' }


- if User.current.admin?
    = link_to 'Show', @user
    \|
    = link_to 'Show all users', users_path
